body  { 
margin: 20px;
font-family: cursive
}
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    text-align: center;
    background: #fed9b7;
    color: #150947;
    border-bottom: 2px solid #d8cefe;
    border-radius: 20px;
    text-shadow: 2px 2px #d8cefe; 
    animation-duration: 4 sec;
    
    
}


.avatar{
   width: 150px; 
   border: 1px outset #e56b6f;
   border-radius: 20px;
   margin-top: 2px;
   margin-bottom: 2px;
 
}
